.imgfloatleft {
  float: left;
  width: 200px;
  padding-right: 15px;
  background: blue;
  border-radius: 11px 42px;
}

/* offset bottom row */
#leftcoloffset {
  margin-top: 10px;
}
#middlecoloffset {
  margin-top: 20px;
}
#rightcoloffset {
  margin-top: 30px;
}

* {
  border: 1px solid cyan;
  font-family: OstrichSans-Black;
  font-size: 30px;
}

#proghover:hover { /*on hover over "programming" */
  text-transform: uppercase;
  font-size: 77px;
  font-family: OstrichSansInline-Regular
}

/* digital watches changes to frood */
span.after-frood {
  display: none;
}

.hoopy:hover span.align {
  display: none;
}

.hoopy:hover span.after-frood {
  display: block;
}

/* h1 w/ diff fonts for name */
h1 {
  text-align: center;
  font-size: 69px;
}
#name1 {
  font-family: OstrichSans-Heavy;
  font-size: 100px;
}

#name2 {
  font-family: OstrichSansDashed-Medium;
}

#name3 {
  font-family: OstrichSans-Light;
}

#name4 {
 font-family: OstrichSansInline-Italic;
}








/* load fonts */
@font-face {
  font-family: OstrichSans-Light;
  src: url("../fonts/OstrichSans-Light.otf");
}

@font-face {
  font-family: OstrichSans-Black;
  src: url("../fonts/OstrichSans-Black.otf");
}

@font-face {
  font-family: OstrichSansInline-Regular;
  src: url("../fonts/OstrichSansInline-Regular.otf");
}

@font-face {
  font-family: OstrichSansRounded-Medium;
  src: url("../fonts/OstrichSansRounded-Medium.otf")
}

@font-face {
  font-family: OstrichSansDashed-Medium;
  src: url("../fonts/OstrichSansDashed-Medium.otf")
}

@font-face {
  font-family: OstrichSans-Heavy;
  src: url("../fonts/OstrichSans-Heavy.otf")
}

@font-face {
  font-family: OstrichSansInline-Italic;
  src: url("../fonts/OstrichSansInline-Italic.otf");
}
