* {
  border: 1px solid cyan;
  font-family: OstrichSansRounded-Medium;
  font-size: 30px;
}

.imgfloatleft { /* let's make that image work! */
  float: left;
  width: 21vw;
  padding-right: 29px;
  margin-left: -15px;
  /*box-shadow: -5px -5px 4px magenta;*/
  border-radius: 11px 42px;
}

/* font size changes with viewport! */
.dynfontsize1 p, li, a {
  font-size: 2vmax;
}

.dynfontsize2 p, li {
  font-size: 2.5vmin;
}

.dynfontsizeb-1 p, li {
  font-size: 4vmin;
}

.dynfontsizeb-2 p, li {
  font-size: 1.5vmin;
}

.dynfontsizeb-3 p, li {
  font-size: 2vmin;
}

.align {
  font-size: 2vmin;
}

/* offset bottom row */
#leftcoloffset {
  margin-top: 10px;
}
#middlecoloffset {
  margin-top: 20px;
}
#rightcoloffset {
  margin-top: 30px;
}



#proghover:hover { /*on hover over "programming" */
  font-size: 77px;
  font-family: OstrichSansInline-Regular
}

/* digital watches changes to frood */
span.after-frood {
  display: none;
}

.hoopy:hover span.align {
  display: none;
}

.hoopy:hover span.after-frood {
  display: block;
}

/* h1 w/ diff fonts for name */
h1 {
  text-align: justify;
}
#name1 {
  font-family: OstrichSans-Heavy;
  font-size: 72px;
}

#name2 {
  font-family: OstrichSansDashed-Medium;
  font-size: 32px;
}

#name3 {
  font-family: OstrichSans-Light;
  font-size: 66px
}

#name4 {
 font-family: OstrichSansInline-Italic;
 font-size: 48px;
}



.buttons img {
  max-width: 200px;
}




/* load fonts */
@font-face {
  font-family: OstrichSans-Light;
  src: url("../fonts/OstrichSans-Light.otf");
}

@font-face {
  font-family: OstrichSans-Black;
  src: url("../fonts/OstrichSans-Black.otf");
}

@font-face {
  font-family: OstrichSansInline-Regular;
  src: url("../fonts/OstrichSansInline-Regular.otf");
}

@font-face {
  font-family: OstrichSansRounded-Medium;
  src: url("../fonts/OstrichSansRounded-Medium.otf")
}

@font-face {
  font-family: OstrichSansDashed-Medium;
  src: url("../fonts/OstrichSansDashed-Medium.otf")
}

@font-face {
  font-family: OstrichSans-Heavy;
  src: url("../fonts/OstrichSans-Heavy.otf")
}

@font-face {
  font-family: OstrichSansInline-Italic;
  src: url("../fonts/OstrichSansInline-Italic.otf");
}
