* {
  font-family: OstrichSansRounded-Medium;
  font-size: 30px;
  color: black;
}
body { /* I like gradients */
    background: linear-gradient(#eeebeb, 	#eaf2f8)
}
h1 {
  text-align: center;
}
#name1 {
  font-family: OstrichSans-Heavy;
  font-size: 72px;
}
#name2 {
  font-family: OstrichSansDashed-Medium;
  font-size: 32px;
}
#name3 {
  font-family: OstrichSans-Light;
  font-size: 66px
}
#name4 {
 font-family: OstrichSansInline-Italic;
 font-size: 48px;
}
.imgfloatleft { /* let's make that image work! */
  float: left;
  max-width: 21vw;
  padding-right: 29px;
  margin-left: -15px;
  border-radius: 11px 42px;
  max-height: 40%;
}
.h2narrower { /* necessary for the border around aboutme to not be broken... */
  width: 300px;
}
.aboutme {
  border-radius: 20px 5px 20px;
  border: 2px black solid;
  background-color: #fdfdfd;
}
.dynfontsize1 p, li, a { /* font size changes with viewport! */
  font-size: 2vmin;
}
.dynfontsize2 p, li {
  font-size: 2.5vmin;
}
.dynfontsizeb-1 p, li {
  font-size: 4vmin;
}
.dynfontsizeb-2 p, li {
  font-size: 1.5vmin;
}
.dynfontsizeb-3 p, li {
  font-size: 2vmin;
}
.align {
  font-size: 2vmin;
}
span.after-frood { /* digital watches changes to frood on hover*/

  display: none;
}
.hoopy:hover span.align {
  display: none;
}
.hoopy:hover span.after-frood {
  display: block;
  color: #eeebeb;
}
#proghover:hover { /*on hover over "programming", enlarge and MORE GRADIENT*/
  font-size: 77px;
  font-family: OstrichSansInline-Regular;
  background: -webkit-linear-gradient( left, #00eeff, #00ddff, #00ccff, #00bbff, #00aaff );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.olfloat {
  float: left;
  list-style: none; /* remove the numbers from the ol so I can use padding for effect. sorry :/ */
}
#listudy { /* padding for a nice cascading effect */
  padding-left: 25px;
}
#ligrad {
  padding-left: 50px;
}
#liidk {
  padding-left: 75px;
  color: #7c7c7c;
}
#liprofit {
  padding-left: 100px;
}
.popover { /* allow popovers to be wider than their source button */
  max-width: 100%;
  background-color: #dddddd;
}
.popover-title, .popover-content { /* change font in popoevers */
  color: black;
  font-family: OstrichSansRounded-Medium;
  font-size: 25px;
  font-weight: bold;
  background-color: #dddddd;
}
.oddprojects {
  border-radius: 5px 20px 5px;
  background: #dddddd;
  padding-left: 8px;
  padding-right: 75px;
}
.evenprojects {
  border-radius: 20px 5px 20px;
  background: #000000;
  padding-left: 3px;
  padding-right: 85px;
  color: #fdfdfd;
}
.buttons img { /* makes sure my tooltip images aren't huge */
  max-width: 333px;
}
.h3fun:hover { /* a little more dynamic */
	background: black;
	color: white;
}
#leftcoloffset { /* offset bottom row */
  margin-top: 10px;
}
#middlecoloffset {
  margin-top: 50px;
}
#rightcoloffset {
  margin-top: 100px;
}
.beautifulpuppies { /* gradient for beautiful puppies! */
  font-family: OstrichSansInline-Italic;
  font-size: 40px;
  background: -webkit-linear-gradient( #ff948e, #ffcc8d, #f9ff91, #97ff9e, #abbeff );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mars { /* and now a gradient for mars */
  font-family: OstrichSansHeavy
  font-size: 48px;
  background: -webkit-linear-gradient(left, #581616, #cc7810, #691a1a, #a74808, #870d0d );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* load fonts below */
@font-face {
  font-family: OstrichSans-Light;
  src: url("../fonts/OstrichSans-Light.otf");
}
@font-face {
  font-family: OstrichSans-Black;
  src: url("../fonts/OstrichSans-Black.otf");
}
@font-face {
  font-family: OstrichSansInline-Regular;
  src: url("../fonts/OstrichSansInline-Regular.otf");
}
@font-face {
  font-family: OstrichSansRounded-Medium;
  src: url("../fonts/OstrichSansRounded-Medium.otf")
}
@font-face {
  font-family: OstrichSansDashed-Medium;
  src: url("../fonts/OstrichSansDashed-Medium.otf")
}
@font-face {
  font-family: OstrichSans-Heavy;
  src: url("../fonts/OstrichSans-Heavy.otf")
}
@font-face {
  font-family: OstrichSansInline-Italic;
  src: url("../fonts/OstrichSansInline-Italic.otf");
}
